---
layout: page
title: "Gallery"
sub_title: "Award & Event"
black_menu: true
header_style: 'one'
custom_font: font4
portfolios_area:
  enable: true
  categories:
    - title: "Award"
      filter: "award"
    - title: "Event"
      filter: "event"
    - title: "2019"
      filter: "2019"
    - title: "2020"
      filter: "2020"
    - title: "2021"
      filter: "2021"
    - title: "2022"
      filter: "2022"

  portfolios:
    - title: "Teacher's Day2022"
      images: 
       - img: "/assets/images/art/event/gallery_2022_teachers_day.jpg"
      date: "2022-05-15"
      filters:
       - event
       - 2022
    
    - title: "IEEE ICC 2022 Demo Session"
      content: "Our CIOT team (Mi Hyun, Myeong Chan, Hyun Sik, Chaewon) have won a outstanding demo award at IEEE ICC 2022."
      images:
        - img: "/assets/images/art/award/award_2022IEEE_ICC_Demo1.jpg"
        - img: "/assets/images/art/award/award_2022IEEE_ICC_Demo2.jpg"
      filters:
       - award 
       - 2022
    - title: "2022 SKKU Research Matters"
      content: "Je Hyeon Park has been awarded with the first prize in the outstanding research competition of Sungkyunkwan University (SKKU Research Matters)."
      images:
        - img: "/assets/images/art/award/award_2022_SKKU_Research_Matters1.jpg"
        - img: "/assets/images/art/award/award_2022_SKKU_Research_Matters2.jpg"
      filters:
       - award 
       - 2022
    - title: "2020 Wireless Power Transfer Conference"
      content: "Our CIOT team (Je Hyeon, Minh, Amri) has been awarded with the second prize in the student competition of IEEE Wireless Power Transfer Conference."
      images:
        - img: "/assets/images/art/award/award_2020_Wireless_Power_Transfer_Conference1.jpg"
        - img: "/assets/images/art/award/award_2020_Wireless_Power_Transfer_Conference2.jpg"
      filters:
       - award 
       - 2020
    - title: "2019 NIWeek AWARDS"
      content: "Our CIOT's Professor and members (Arif Abdul Aziz, Lorenz Rullyna Ginting Soeka, Je Hyeon Park and Dong Soo Kang) got a engineering impact awards concerning 'powering the IoT in remote locations with 5G wireless energy transfer design' from National Instrument at Texas."
      images:
        - img: "/assets/images/art/award/award_2019_NIWeek_AWARDS.jpg"      
      filters:
       - award 
       - 2019
    - title: "2019 MAKERTHON"
      content: "'Makerton' is a compound word of 'making' and 'marathon'. It is a competition in which teams come up with ideas and produce prototypes during specific time. Our CIOT's members (Hwang Sa il and Yeon Gyu yang) received the first prize for the 'next-generation multifunctional smart mirror'."
      images:
        - img: "/assets/images/art/award/award_2019_MAKERTHON.jpg"      
      filters:
       - award 
       - 2019
---
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="grid gird-view boxed">
            <div class="isotope-filter text-center">
                <ul>
                  <li><a class="button active" data-filter="*">All</a></li>
                  {% for category in page.portfolios_area.categories %}
                   <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
                  {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for portfolio in page.portfolios_area.portfolios %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="post-content">
                                <div class="category text-center">
                                    <div class="flex-row">
                                        {% for filter in portfolio.filters %}
                                        <div class="badge badge-pill {% if filter == 'event' %}bg-aqua{% elsif filter=='award'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                            {{filter}}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <h1 class="post-title text-center">
                                    {{portfolio.title}}
                                </h1>
                                {% if portfolio.date %}
                                <div class="meta text-center">
                                    <i class="jam jam-clock"></i> {{portfolio.date}}
                                </div>
                                {% endif %}
                                {% if portfolio.content %}
                                <p class="text-center">{{portfolio.content}}</p>
                                {% endif %}
                            </div>
                            <div class="space20"></div>
                            <div class="row">
                                {% for image in portfolio.images %}
                                {% if forloop.length == 1 %}
                                <div class="">
                                    <figure class="rounded">
                                        <img src="{{image.img}}" alt="{{portfolio.title}}">
                                    </figure>
                                </div>
                                {% elsif forloop.length < 3 %}
                                <div class="col-md-6">
                                    <figure class="rounded">
                                        <img src="{{image.img}}" alt="{{portfolio.title}}">
                                    </figure>
                                </div>
                                {% else %}
                                <div class="col-md-4">
                                    <figure class="rounded">
                                        <img src="{{image.img}}" alt="{{portfolio.title}}">
                                    </figure>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
