---
layout: default
title: CIOT
custom_font: font4
newsletter:
    enabled: true
    title: "대학원생을 모집합니다."
    sub_title: "kaewonchoi@skku.edu"
    form_action: "tortoiztheme@gmail.com"
    button_text: "Join"
---

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include header_lab.html extra_class="transparent navbar-hover-opacity nav-uppercase" logo_class="logo" container_class="container" %}
            </div>
        </div>
    </div>

    {% if page.newslettter.enabled %}
    <div class="modal fade modal-popup" id="modal-06" tabindex="-1" role="dialog" aria-labelledby="modal-06" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="box bg-white p-40 text-center">
            <div class="row">
              {% if page.newslettter.image %}
              <div class="col-md-8 offset-md-2">
                <figure class="mb-30">
                  <img src="{{page.newslettter.image}}"  alt="{{page.newslettter.image}}"/>
                </figure>
              </div>
              <!-- /column -->
              {% endif %}
            </div>
            <!-- /.row -->
            {% if page.newslettter.title %}
             <h3>{{page.newslettter.title}}</h3>
            {% endif %}
            {% if page.newslettter.sub_title %}
             <p>{{page.newslettter.sub_title}}</p>
            {% endif %}
            
          </div>
          <!--/.box -->
        </div>
        <!--/.modal-content -->
      </div>
      <!--/.modal-dialog -->
    </div>
    <!--/.modal -->
    {% endif %}

    <!-- main header -->
    <div class="wrapper image-wrapper bg-image inverse-text" data-image-src="/assets/images/art/bg/video/video1.jpg">
        <div class="container inner pb-120">
            <div class="space100"></div>
            <div class="row">
                <div class="col-lg-7 col-xl-7">
                    <h1 class="display-1" data-aos="fade-up" data-aos-delay="800">Convergence IoT System Lab</h1>
                    <div class="space10"></div>
                    <p class="lead larger" data-aos="fade-up" data-aos-delay="1300"> </p>
                    <div class="space25"></div>
                    <div class="d-inline-block" data-aos="fade-up" data-aos-delay="1800">
                      <a href="/contact.html" class="btn btn-l btn-white btn-strong-hover btn-icon btn-icon-left mr-10">
                        Contact
                      </a>
                    </div>
                </div>
            </div>
            <div class="space100"></div>
        </div>
        <div class="divider"><svg xmlns="http://www.w3.org/2000/svg" class="fill-light-wrapper" preserveAspectRatio="none" viewBox="0 0 1070 52">
            <path d="M0,52V0S247,91,505,32c261.17-59.72,565-13,565-13V52Z" /></svg></div>
    </div>
    <div class="wrapper overflow-top bleed-l pointer-none d-none d-lg-block">
        <div class="container text-right">
          <div class="row" data-aos="fade-up" data-aos-delay="2100">
            <div class="col-lg-4 offset-lg-8 col-xl-4 offset-xl-8">
              <figure style="width: 25rem; margin-top: 10rem;">
                <img src="/assets/images/art/bg/iso_Inten51.png" alt=""/>
              </figure>
            </div>
          </div>
        </div>
    </div>


<div class="space60"></div>

<!-- gallery -->
<div class="wrapper light-wrapper">
    <div class="container inner">
        <h1 class="display-1 ml-10">
            Gallery
        </h1>
        <div class="space20"></div>
        <div class="grid-view boxed light-gallery-wrapper text-center">
            <div class="grid-view boxed light-gallery-wrapper text-center">
                <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
                    {% for portfolio in site.data.gallery.portfolios_area.portfolios %}
                    <div class="item" >
                        <div class="item-inner">
                            <div class="box bg-white shadow p-30" style="height: 20rem;">
                                <figure class="main overlay overlay2 rounded mb-30" style="height:12rem; object-fit: cover;"> 
                                    <img src="{{ portfolio.images[0].img }}" alt="" >
                                </figure>
                                <div class="post-content align-items-center">
                                    <h2 class="post-title mb-10"><a href="/gallery">{{portfolio.title}}</a></h2>
                                    <div class="meta mb-0">{{portfolio.date}}</div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>