---
layout: page
title: "Journal"
black_menu: true
header_style: 'one'
custom_font: font4

categories:
    - title: "International"
      filter: "international"
    - title: "Domestic"
      filter: "domestic"
    - title: "2022"
      filter: "2022"
    - title: "2021"
      filter: "2021"
    - title: "2020"
      filter: "2020"
    - title: "2019"
      filter: "2019"
    - title: "2018"
      filter: "2018"
    - title: "2017"
      filter: "2017"
    - title: "2016"
      filter: "2016"
    - title: "2015"
      filter: "2015"

international:
  - title: "Foundations of Wireless Information and Power Transfer: Theory, Prototypes, and Experiments."
    author: "Clerckx, B., Kim, J., Choi, K. W., Kim, D. I."
    journal: "Proceedings of the IEEE"
    details: "2022, 110.1: 8-30."
    link: "https://ieeexplore.ieee.org/document/9675011"
    filters:
     - 2022
     - international
  - title: "Drone-Based Sensor Information Gathering System with Beam-Rotation Forward-Scattering Communications and Wireless Power Transfer"
    author: "A. A. Aziz, A. E. Putra, D. I. Kim , K. W. Choi"
    journal: "IEEE Internet of Things Journal"
    details: "doi: 10.1109/JIOT.2021.3128532."
    filters:
     - 2021
     - international
  - title: "Reconfigurable Intelligent Surface-Aided Wireless Communications: Adaptive Beamforming and Experimental Validations"
    author: "M. M. Amri, N. M. Tran , K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 147442-147457, 2021, doi: 10.1109/ACCESS.2021.3124319"
    link: "https://ieeexplore.ieee.org/document/9594786"
    filters:
     - 2021
     - international
  - title: "Design and Implementation of 5.8 GHz RF Wireless Power Transfer System"
    author: "J. H. Park, N. M. Tran, S. I. Hwang, D. I. Kim , K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 168520-168534, 2021, doi: 10.1109/ACCESS.2021.3138221"
    link: "https://ieeexplore.ieee.org/document/9662351"
    filters:
     - 2021
     - international
  - title: "Reconfigurable Intelligent Surface-Aided Wireless Power Transfer Systems: Analysis and Implementation"
    author: "N.M. Tran, M. M. Amri, J. H. Park, D. I. Kim,  K. W. Choi"
    journal: "arXiv preprint"
    details: "arXiv:2106.11805 (2021)"
    filters:
     - 2021
     - international
  - title: "On-Off Arbitrary Beam Synthesis and Non-Interactive Beam Management for Phased Antenna Array Communications"
    author: "H.S.Yoon, D.G.Jo, D.I.Kim , K.W.Choi"
    journal: "IEEE Transactions on Vehicular Technology"
    details: "vol.70, no.6, June 2021, doi: 10.1109/TVT.2021.3078781"
    link: "https://ieeexplore.ieee.org/document/9428539"
    filters:
     - 2021
     - international
  - title: "Backscatter-Aided Cooperative Transmission in Wireless-Powered Heterogeneous Networks"
    author: "S. H. Kim, S. Y. Park, K. W. Choi, T. -J. Lee , D. I. Kim"
    journal: "IEEE Transactions on Wireless Communications"
    details: "vol. 19, no. 11, pp. 7309-7323, Nov. 2020, doi: 10.1109/TWC.2020.3010544"
    link: "https://ieeexplore.ieee.org/document/9151252"
    filters:
     - 2020
     - international
  - title: "Beam Avoidance for Human Safety in Radiative Wireless Power Transfer"
    author: "L. Ginting, H. S. Yoon, D. I. Kim, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 8, pp. 217510-217525, 2020, doi: 10.1109/ACCESS.2020.3042184"
    link: "https://ieeexplore.ieee.org/document/9279205"
    filters:
     - 2020
     - international
  - title: "Simultaneous Wireless Information and Power Transfer (SWIPT) for Internet of Things: Novel Receiver Design and Experimental Validation"
    author: "Kae Won Choi,  Sa Il Hwang, Arif Abdul Aziz, Hyeon Ho Jang, Ji Su Kim,Dong Soo Kang, Dong In Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 7, no. 4, pp. 2996-3012, April 2020, doi: 10.1109/JIOT.2020.2964302"
    link: "https://ieeexplore.ieee.org/document/8951078"
    filters:
     - 2020
     - international
  - title: "Analysis and Experiment on Multi-Antenna-to-Multi-Antenna RF Wireless Power Transfer"
    author: "J. H. Park, D. I. Kim, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 2018-2031, 2020, doi: 10.1109/ACCESS.2020.3047485"
    link: "https://ieeexplore.ieee.org/document/9308919"
    filters:
     - 2020
     - international
  - title: "Novel Frequency-Splitting SWIPT for Overcoming Amplifier Nonlinearity"
    author: "H. H. Jang, K. W. Choi, D. I. Kim"
    journal: "IEEE Wireless Communications Letters"
    details: "vol. 9, no. 6, pp. 826-829, June 2020, doi: 10.1109/LWC.2020.2971983"
    link: "https://ieeexplore.ieee.org/document/8985397"
    filters:
     - 2020
     - international
  - title: "Simultaneous wireless information and power transfer (SWIPT) for internet of things: Novel receiver design and experimental validation"
    author: "K. W. Choi, S. I. Hwang, A. A. Aziz, H. H. Jang, J. S. Kim, D. S. Kang, D. I. Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 7, no. 4, pp. 2996-3012, April 2020, doi: 10.1109/JIOT.2020.2964302"
    link: "https://ieeexplore.ieee.org/document/8951078"
    filters:
     - 2020
     - international
  - title: "A novel coding metasurface for wireless power transfer aplications"
    author: "N. M. Tran, M. M. Amri, J. H. Park, S. I. Hwang, D. I. Kim, K. W. Choi"
    journal: "Energies"
    details: "vol. 12, no. 23, Nov. 2019, doi: 10.3390"
    link: "https://www.mdpi.com/1996-1073/12/23/4488"
    filters:
     - 2019
     - international
  - title: "Toward realization of long-range wireless-powered sensor networks"
    author: "K. W. Choi, L. Ginting, A. A. Aziz, D. Setiawan, J. H. Park, S. I. Hwang, D. S. Kang, M. Y. Chung, D. I. Kim"
    journal: "IEEE Wireless Communications"
    details: "Vol. 26, no. 4, pp. 184 - 192, Aug. 2019, doi: 10.1109/MWC.2019.1800475"
    link: "https://ieeexplore.ieee.org/document/8758981"
    filters:
     - 2019
     - international
  - title: "Battery-less location tracking for internet of things: Simultaneous wireless power transfer and positioning"
    author: "A. A. Aziz, L. Ginting, D. Setiawan, J. H. Park, N. M. Tran, G. Y. Yeon, D. I. Kim, K. W. Choi"
    journal: "IEEE Internet of Things Journal"
    details: "Vol. 6, no. 5, pp. 9147 - 9164, Oct. 2019, doi: 10.1109/JIOT.2019.2928313"
    link: "https://ieeexplore.ieee.org/document/8760514"
    filters:
     - 2019
     - international
  - title: "Performance analysis of wireless-powered cognitive radio networks with ambient backscatter"
    author: "D. Munir, S. T. Shah, K. W. Choi, T.-J. Lee, M. Y. Chung"
    journal: "EURASIP Journal on Wireless Communications and Networking"
    details: "Munir etal. EURASIPJournalonWirelessCommunicationsand Networking , (2019) 2019:45"
    link: "https://doi.org/10.1186/s13638-019-1367-7"
    filters:
     - 2019
     - international
  - title: "Optimal concurrent multipath data transfer for bandwidth aggregation in heterogeneous mobile networks"
    author: "F. Syariati, K. W. Choi"
    journal: "Wireless Personal Communications"
    details: "vol. 107, no. 3, pp. 1383-1400, Aug. 2019"
    link: "https://doi.org/10.1007/s11277-018-5969-x"
    filters:
     - 2019
     - international
  - title: "Information processing and wireless energy harvesting in interference-aware public safety networks"
    author: "D. Munir, S. T. Shah, K. W. Choi, M. Y. Chung"
    journal: "Wireless Personal Communications"
    details: "vol. 103, pp. 2071-2091, June. 2018"
    link: "https://link.springer.com/article/10.1007/s11277-018-5896-x"
    filters:
     - 2018
     - international
  - title: "Dynamic wireless energy harvesting and optimal distribution in multipair DF relay network with nonlinear energy conversion model"
    author: "S. T. Shah, D. B. da Costa, K. W. Choi, M. Y. Chung"
    journal: "Wireless Communications and Mobile Computing"
    details: "vol. 2018, Aug. 2018, doi: 10.1155/2018/7638215"
    link: "https://www.researchgate.net/publication/326876430_Dynamic_Wireless_Energy_Harvesting_and_Optimal_Distribution_in_Multipair_DF_Relay_Network_with_Nonlinear_Energy_Conversion_Model"
    filters:
     - 2018
     - international
  - title: "Experiment, modeling, and analysis of wireless-powered sensor network for energy neutral power management"
    author: "D. Setiawan, A. A. Aziz, D. I. Kim, K. W. Choi"
    journal: "IEEE Systems Journal"
    details: "vol. 12, no. 4, pp. 3381-3392, Dec. 2018, doi: 10.1109/JSYST.2017.2774285"
    link: "https://ieeexplore.ieee.org/document/8123848"
    filters:
     - 2018
     - international
  - title: "Bandwidth aggregation protocol and throughput-optimal scheduler for hybrid RF and visible light communication systems"
    author: "Y. S. M. Pratama, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 16, pp. 32173-32187, June 2018, doi: 10.1109/ACCESS.2018.2844874"
    link: "https://ieeexplore.ieee.org/document/8388712"
    filters:
     - 2018
     - international
  - title: "Outage probability and throughput analysis of SWIPT enabled cognitive relay network with ambient backscatter"
    author: "S. T. Shah, K. W. Choi, T.-J. Lee, M. Y. Chung"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 5, no. 4, pp. 3198-3208, Aug. 2018, doi: 10.1109/JIOT.2018.2837120"
    link: "https://ieeexplore.ieee.org/document/8360017"
    filters:
     - 2018
     - international
  - title: "ROOMMATEs: An unsupervised indoor peer discovery approach for LTE D2D communication"
    author: "N. T. Nguyen, K. W. Choi, L. Song, Z. Han"
    journal: "IEEE Trans. Veh. Technol"
    details: "vol. 67, no. 6, pp. 5069-5083, June 2018, doi: 10.1109/TVT.2018.2832223"
    link: "https://ieeexplore.ieee.org/document/8353433"
    filters:
     - 2018
     - international
  - title: "Distributed wireless power transfer system for Internet-of-Things devices"
    author: "K. W. Choi, A. A. Aziz, D. Setiawan, N. M. Tran, L. Ginting, D. I. Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 5, no. 4, pp. 2657-2671, Aug. 2018, doi: 10.1109/JIOT.2018.2790578"
    link: "https://ieeexplore.ieee.org/document/8249549"
    filters:
     - 2018
     - international
  - title: "Traffic-aware optimal spectral access in wireless powered cognitive radio networks"
    author: "M. E. Ahmed, D. I. Kim,  K. W. Choi"
    journal: "IEEE Trans. Mob. Comput"
    details: "vol. 17, no. 3, pp. 733-745, Mar. 2018, doi: 10.1109/TMC.2017.2734660"
    link: "https://ieeexplore.ieee.org/document/7999235"
    filters:
     - 2018
     - international
  - title: "Theory and experiment for wireless-powered sensor networks: how to keep sensors alive"
    author: "K. W. Choi, P. A. Rosyady, L. Ginting, A. A. Aziz, D. Setiawan, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 17, no. 1, pp. 430-444, Jan. 2018, doi: 10.1109/TWC.2017.2767579"
    link: "https://ieeexplore.ieee.org/document/8094989"
    filters:
     - 2018
     - international
  - title: "Optimal load balancing scheduler for MPTCP-based bandwidth aggregation in heterogeneous wireless environments"
    author: "K. W. Choi, Y. S. Cho, Aneta, J. W. Lee, S. M. Choi, J. H. Choi"
    journal: "Computer Communications"
    details: "vol. 112. no. 1, pp. 116-130, Nov. 2017"
    link: "https://www.sciencedirect.com/science/article/pii/S0140366417302426"
    filters:
     - 2017
     - international
  - title: "Received power-based channel estimation for energy beamforming in multiple-Antenna RF energy transfer system"
    author: "K. W. Choi, D. I. Kim, M. Y. Chung"
    journal: "IEEE Trans. Signal Proc"
    details: "vol. 65, no. 6, pp. 1461-1476, Mar. 2017, doi: 10.1109/TSP.2016.2637320"
    link: "https://ieeexplore.ieee.org/document/7778255"
    filters:
     - 2017
     - international
  - title: "Wireless-powered sensor networks: how to realize"
    author: "K. W. Choi, L. Ginting, P. A. Rosyady, A. A. Aziz, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 16, no. 1, pp. 221-234, Jan. 2017, doi: 10.1109/TWC.2016.2621766"
    link: "https://ieeexplore.ieee.org/document/7707470"
    filters:
     - 2017
     - international
  - title: "Throughput analysis of two-way relay networks with wireless energy harvesting capabilities"
    author: "S. T. Shah, K. W. Choi, S. F. Hasan, M. Y. Chung"
    journal: "Ad Hoc Networks"
    details: "vol. 53, no. 15, pp. 123-131, Dec. 2016"
    link: "https://www.sciencedirect.com/science/article/pii/S1570870516302396"
    filters:
     - 2016
     - international
  - title: "Energy harvesting and information processing in two-way multiplicative relay networks"
    author: "S. T. Shah, K. W. Choi, S. F. Hasan, M. Y. Chung"
    journal: "IET Electronics Letters"
    details: "vol. 52, no. 9, pp. 751-753, Apr. 2016"
    link: "https://ietresearch.onlinelibrary.wiley.com/doi/full/10.1049/el.2015.3682"
    filters:
     - 2016
     - international
  - title: "Stochastic optimal control for wireless powered communication networks"
    author: "K. W. Choi, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 15, no. 1, pp. 686-698, Jan. 2016, doi: 10.1109/TWC.2015.2477351"
    link: "https://ieeexplore.ieee.org/document/7247755"
    filters:
     - 2016
     - international
  - title: "Discovering mobile applications in cellular device-to-device communications: hash function and Bloom filter-based approach"
    author: "K. W. Choi, D. Tribudi, E. Hossain"
    journal: "IEEE Trans. Mobile Comput"
    details: "vol. 15, no. 2, pp. 336-349, Feb. 2016, doi: 10.1109/TMC.2015.2418767"
    link: "https://ieeexplore.ieee.org/document/7078949"
    filters:
     - 2016
     - international
  - title: "Distributed random access scheme for collision avoidance in cellular device-to-device communication"
    author: "E. Zihan, K. W. Choi, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 14, no. 7, pp. 3571-3585, Jul. 2015, doi: 10.1109/TWC.2015.2408326"
    link: "https://ieeexplore.ieee.org/document/7053953"
    filters:
     - 2015
     - international
  - title: "Device-to-device discovery for proximity-based service in LTE-Advanced system"
    author: "K. W. Choi, Z. Han"
    journal: "IEEE Journal of Selected Areas in Communications (D2D Communications)"
    details: "vol. 33, no. 1, pp. 55-66, Jan. 2015, doi: 10.1109/JSAC.2014.2369591"
    link: "https://ieeexplore.ieee.org/document/6953027"
    filters:
     - 2015
     - international
  - title: "Hybrid random access and data transmission protocol for machine-to-machine communications in cellular networks"
    author: "D. Tribudi, K. W. Choi"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 14, no. 1, pp. 33-46, Jan. 2015, doi: 10.1109/TWC.2014.2328491"
    link: "https://ieeexplore.ieee.org/document/6824261"
    filters:
     - 2015
     - international
  - title: "Distributed and Centralized Hybrid CSMA/CA-TDMA Schemes for Single-Hop Wireless Networks"
    author: "B. Shresta, E. Hossain, K. W. Choi, S. Camorlinga"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 13, no. 7, pp. 4050-4065, Jul. 2014, doi: 10.1109/TWC.2014.2327102"
    link: "https://ieeexplore.ieee.org/document/6823159"
    filters:
     - 2014
     - international
  - title: "Two-stage semi-distributed resource management for device-to-device communication in cellular networks"
    author: "D. H. Lee, K. W. Choi, W. S. Jeon, D. G. Jeong"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 13, no. 4, pp. 1908-1920, Apr. 2014, doi: 10.1109/TWC.2014.022014.130480"
    link: "https://ieeexplore.ieee.org/document/6747286"
    filters:
     - 2014
     - international



domestic:
  - title: "Cell-Free MIMO 구조에 적합한 분산 CPU-Less Functional Split 구조와 분산 프리코딩 방법"
    author: "윤현식, 최계원"
    journal: "한국통신학회논문지"
    details: "46(12), 2123-2133."
    filters:
     - 2021
     - domestic
---
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="grid grid-view boxed">
            <div class="isotope-filter text-center">
                <ul>
                    <li><a class="button active" data-filter="*">All</a></li>
                    {% for category in page.categories %}
                    <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">International</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.international %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">Domestic</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.domestic %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
