---
layout: page
title: "Journal"
black_menu: true
header_style: 'one'
custom_font: font4

categories:
    - title: "International"
      filter: "international"
    - title: "Domestic"
      filter: "domestic"
    - title: "2022"
      filter: "2022"
    - title: "2021"
      filter: "2021"
    - title: "2020"
      filter: "2020"
    - title: "2019"
      filter: "2019"
    - title: "2018"
      filter: "2018"
    - title: "2017"
      filter: "2017"
    - title: "2016"
      filter: "2016"
    - title: "2015"
      filter: "2015"

international:
  - title: "Foundations of Wireless Information and Power Transfer: Theory, Prototypes, and Experiments."
    author: "Clerckx, B., Kim, J., Choi, K. W., & Kim, D. I."
    journal: "Proceedings of the IEEE"
    details: "2022, 110.1: 8-30."
    link: "https://ieeexplore.ieee.org/document/9675011"
    filters:
     - 2022
     - international
  - title: "Drone-Based Sensor Information Gathering System with Beam-Rotation Forward-Scattering Communications and Wireless Power Transfer"
    author: "A. A. Aziz, A. E. Putra, D. I. Kim and K. W. Choi"
    journal: "IEEE Internet of Things Journal"
    details: "doi: 10.1109/JIOT.2021.3128532."
    filters:
     - 2021
     - international
  - title: "Reconfigurable Intelligent Surface-Aided Wireless Communications: Adaptive Beamforming and Experimental Validations"
    author: "M. M. Amri, N. M. Tran and K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 147442-147457, 2021, doi: 10.1109/ACCESS.2021.3124319"
    link: "https://ieeexplore.ieee.org/document/9594786"
    filters:
     - 2021
     - international
  - title: "Design and Implementation of 5.8 GHz RF Wireless Power Transfer System"
    author: "J. H. Park, N. M. Tran, S. I. Hwang, D. I. Kim and K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 168520-168534, 2021, doi: 10.1109/ACCESS.2021.3138221"
    link: "https://ieeexplore.ieee.org/document/9662351"
    filters:
     - 2021
     - international

domestic:
  - title: "Cell-Free MIMO 구조에 적합한 분산 CPU-Less Functional Split 구조와 분산 프리코딩 방법"
    author: "윤현식, 최계원"
    journal: "한국통신학회논문지"
    details: "46(12), 2123-2133."
    filters:
     - 2021
     - domestic
---
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="grid grid-view boxed">
            <div class="isotope-filter text-center">
                <ul>
                    <li><a class="button active" data-filter="*">All</a></li>
                    {% for category in page.categories %}
                    <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">International</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.international %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">Domestic</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.domestic %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
