---
layout: page
title: "Journal"
black_menu: true
header_style: 'one'
custom_font: font4

categories:
    - title: "International"
      filter: "international"
    - title: "Domestic"
      filter: "domestic"
    - title: "2022"
      filter: "2022"
    - title: "2021"
      filter: "2021"
    - title: "2020"
      filter: "2020"
    - title: "2019"
      filter: "2019"
    - title: "2018"
      filter: "2018"
    - title: "2017"
      filter: "2017"
    - title: "2016"
      filter: "2016"
    - title: "2015"
      filter: "2015"
    - title: "2014"
      filter: "2014"
    - title: "2013"
      filter: "2013"
    - title: "2012"
      filter: "2012"
    - title: "2011"
      filter: "2011"
    - title: "2010"
      filter: "2010"
    - title: "2009"
      filter: "2009"
    - title: "2007"
      filter: "2007"

international:
  - title: "Foundations of Wireless Information and Power Transfer: Theory, Prototypes, and Experiments."
    author: "Clerckx, B., Kim, J., Choi, K. W., Kim, D. I."
    journal: "Proceedings of the IEEE"
    details: "2022, 110.1: 8-30."
    link: "https://ieeexplore.ieee.org/document/9675011"
    filters:
     - 2022
     - international
  - title: "Drone-Based Sensor Information Gathering System with Beam-Rotation Forward-Scattering Communications and Wireless Power Transfer"
    author: "A. A. Aziz, A. E. Putra, D. I. Kim , K. W. Choi"
    journal: "IEEE Internet of Things Journal"
    details: "doi: 10.1109/JIOT.2021.3128532."
    filters:
     - 2021
     - international
  - title: "Reconfigurable Intelligent Surface-Aided Wireless Communications: Adaptive Beamforming and Experimental Validations"
    author: "M. M. Amri, N. M. Tran , K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 147442-147457, 2021, doi: 10.1109/ACCESS.2021.3124319"
    link: "https://ieeexplore.ieee.org/document/9594786"
    filters:
     - 2021
     - international
  - title: "Design and Implementation of 5.8 GHz RF Wireless Power Transfer System"
    author: "J. H. Park, N. M. Tran, S. I. Hwang, D. I. Kim , K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 168520-168534, 2021, doi: 10.1109/ACCESS.2021.3138221"
    link: "https://ieeexplore.ieee.org/document/9662351"
    filters:
     - 2021
     - international
  - title: "Reconfigurable Intelligent Surface-Aided Wireless Power Transfer Systems: Analysis and Implementation"
    author: "N.M. Tran, M. M. Amri, J. H. Park, D. I. Kim,  K. W. Choi"
    journal: "arXiv preprint"
    details: "arXiv:2106.11805 (2021)"
    filters:
     - 2021
     - international
  - title: "On-Off Arbitrary Beam Synthesis and Non-Interactive Beam Management for Phased Antenna Array Communications"
    author: "H.S.Yoon, D.G.Jo, D.I.Kim , K.W.Choi"
    journal: "IEEE Transactions on Vehicular Technology"
    details: "vol.70, no.6, June 2021, doi: 10.1109/TVT.2021.3078781"
    link: "https://ieeexplore.ieee.org/document/9428539"
    filters:
     - 2021
     - international
  - title: "Backscatter-Aided Cooperative Transmission in Wireless-Powered Heterogeneous Networks"
    author: "S. H. Kim, S. Y. Park, K. W. Choi, T. -J. Lee , D. I. Kim"
    journal: "IEEE Transactions on Wireless Communications"
    details: "vol. 19, no. 11, pp. 7309-7323, Nov. 2020, doi: 10.1109/TWC.2020.3010544"
    link: "https://ieeexplore.ieee.org/document/9151252"
    filters:
     - 2020
     - international
  - title: "Beam Avoidance for Human Safety in Radiative Wireless Power Transfer"
    author: "L. Ginting, H. S. Yoon, D. I. Kim, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 8, pp. 217510-217525, 2020, doi: 10.1109/ACCESS.2020.3042184"
    link: "https://ieeexplore.ieee.org/document/9279205"
    filters:
     - 2020
     - international
  - title: "Simultaneous Wireless Information and Power Transfer (SWIPT) for Internet of Things: Novel Receiver Design and Experimental Validation"
    author: "Kae Won Choi,  Sa Il Hwang, Arif Abdul Aziz, Hyeon Ho Jang, Ji Su Kim,Dong Soo Kang, Dong In Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 7, no. 4, pp. 2996-3012, April 2020, doi: 10.1109/JIOT.2020.2964302"
    link: "https://ieeexplore.ieee.org/document/8951078"
    filters:
     - 2020
     - international
  - title: "Analysis and Experiment on Multi-Antenna-to-Multi-Antenna RF Wireless Power Transfer"
    author: "J. H. Park, D. I. Kim, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 9, pp. 2018-2031, 2020, doi: 10.1109/ACCESS.2020.3047485"
    link: "https://ieeexplore.ieee.org/document/9308919"
    filters:
     - 2020
     - international
  - title: "Novel Frequency-Splitting SWIPT for Overcoming Amplifier Nonlinearity"
    author: "H. H. Jang, K. W. Choi, D. I. Kim"
    journal: "IEEE Wireless Communications Letters"
    details: "vol. 9, no. 6, pp. 826-829, June 2020, doi: 10.1109/LWC.2020.2971983"
    link: "https://ieeexplore.ieee.org/document/8985397"
    filters:
     - 2020
     - international
  - title: "Simultaneous wireless information and power transfer (SWIPT) for internet of things: Novel receiver design and experimental validation"
    author: "K. W. Choi, S. I. Hwang, A. A. Aziz, H. H. Jang, J. S. Kim, D. S. Kang, D. I. Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 7, no. 4, pp. 2996-3012, April 2020, doi: 10.1109/JIOT.2020.2964302"
    link: "https://ieeexplore.ieee.org/document/8951078"
    filters:
     - 2020
     - international
  - title: "A novel coding metasurface for wireless power transfer aplications"
    author: "N. M. Tran, M. M. Amri, J. H. Park, S. I. Hwang, D. I. Kim, K. W. Choi"
    journal: "Energies"
    details: "vol. 12, no. 23, Nov. 2019, doi: 10.3390"
    link: "https://www.mdpi.com/1996-1073/12/23/4488"
    filters:
     - 2019
     - international
  - title: "Toward realization of long-range wireless-powered sensor networks"
    author: "K. W. Choi, L. Ginting, A. A. Aziz, D. Setiawan, J. H. Park, S. I. Hwang, D. S. Kang, M. Y. Chung, D. I. Kim"
    journal: "IEEE Wireless Communications"
    details: "Vol. 26, no. 4, pp. 184 - 192, Aug. 2019, doi: 10.1109/MWC.2019.1800475"
    link: "https://ieeexplore.ieee.org/document/8758981"
    filters:
     - 2019
     - international
  - title: "Battery-less location tracking for internet of things: Simultaneous wireless power transfer and positioning"
    author: "A. A. Aziz, L. Ginting, D. Setiawan, J. H. Park, N. M. Tran, G. Y. Yeon, D. I. Kim, K. W. Choi"
    journal: "IEEE Internet of Things Journal"
    details: "Vol. 6, no. 5, pp. 9147 - 9164, Oct. 2019, doi: 10.1109/JIOT.2019.2928313"
    link: "https://ieeexplore.ieee.org/document/8760514"
    filters:
     - 2019
     - international
  - title: "Performance analysis of wireless-powered cognitive radio networks with ambient backscatter"
    author: "D. Munir, S. T. Shah, K. W. Choi, T.-J. Lee, M. Y. Chung"
    journal: "EURASIP Journal on Wireless Communications and Networking"
    details: "Munir etal. EURASIPJournalonWirelessCommunicationsand Networking , (2019) 2019:45"
    link: "https://doi.org/10.1186/s13638-019-1367-7"
    filters:
     - 2019
     - international
  - title: "Optimal concurrent multipath data transfer for bandwidth aggregation in heterogeneous mobile networks"
    author: "F. Syariati, K. W. Choi"
    journal: "Wireless Personal Communications"
    details: "vol. 107, no. 3, pp. 1383-1400, Aug. 2019"
    link: "https://doi.org/10.1007/s11277-018-5969-x"
    filters:
     - 2019
     - international
  - title: "Information processing and wireless energy harvesting in interference-aware public safety networks"
    author: "D. Munir, S. T. Shah, K. W. Choi, M. Y. Chung"
    journal: "Wireless Personal Communications"
    details: "vol. 103, pp. 2071-2091, June. 2018"
    link: "https://link.springer.com/article/10.1007/s11277-018-5896-x"
    filters:
     - 2018
     - international
  - title: "Dynamic wireless energy harvesting and optimal distribution in multipair DF relay network with nonlinear energy conversion model"
    author: "S. T. Shah, D. B. da Costa, K. W. Choi, M. Y. Chung"
    journal: "Wireless Communications and Mobile Computing"
    details: "vol. 2018, Aug. 2018, doi: 10.1155/2018/7638215"
    link: "https://www.researchgate.net/publication/326876430_Dynamic_Wireless_Energy_Harvesting_and_Optimal_Distribution_in_Multipair_DF_Relay_Network_with_Nonlinear_Energy_Conversion_Model"
    filters:
     - 2018
     - international
  - title: "Experiment, modeling, and analysis of wireless-powered sensor network for energy neutral power management"
    author: "D. Setiawan, A. A. Aziz, D. I. Kim, K. W. Choi"
    journal: "IEEE Systems Journal"
    details: "vol. 12, no. 4, pp. 3381-3392, Dec. 2018, doi: 10.1109/JSYST.2017.2774285"
    link: "https://ieeexplore.ieee.org/document/8123848"
    filters:
     - 2018
     - international
  - title: "Bandwidth aggregation protocol and throughput-optimal scheduler for hybrid RF and visible light communication systems"
    author: "Y. S. M. Pratama, K. W. Choi"
    journal: "IEEE Access"
    details: "vol. 16, pp. 32173-32187, June 2018, doi: 10.1109/ACCESS.2018.2844874"
    link: "https://ieeexplore.ieee.org/document/8388712"
    filters:
     - 2018
     - international
  - title: "Outage probability and throughput analysis of SWIPT enabled cognitive relay network with ambient backscatter"
    author: "S. T. Shah, K. W. Choi, T.-J. Lee, M. Y. Chung"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 5, no. 4, pp. 3198-3208, Aug. 2018, doi: 10.1109/JIOT.2018.2837120"
    link: "https://ieeexplore.ieee.org/document/8360017"
    filters:
     - 2018
     - international
  - title: "ROOMMATEs: An unsupervised indoor peer discovery approach for LTE D2D communication"
    author: "N. T. Nguyen, K. W. Choi, L. Song, Z. Han"
    journal: "IEEE Trans. Veh. Technol"
    details: "vol. 67, no. 6, pp. 5069-5083, June 2018, doi: 10.1109/TVT.2018.2832223"
    link: "https://ieeexplore.ieee.org/document/8353433"
    filters:
     - 2018
     - international
  - title: "Distributed wireless power transfer system for Internet-of-Things devices"
    author: "K. W. Choi, A. A. Aziz, D. Setiawan, N. M. Tran, L. Ginting, D. I. Kim"
    journal: "IEEE Internet of Things Journal"
    details: "vol. 5, no. 4, pp. 2657-2671, Aug. 2018, doi: 10.1109/JIOT.2018.2790578"
    link: "https://ieeexplore.ieee.org/document/8249549"
    filters:
     - 2018
     - international
  - title: "Traffic-aware optimal spectral access in wireless powered cognitive radio networks"
    author: "M. E. Ahmed, D. I. Kim,  K. W. Choi"
    journal: "IEEE Trans. Mob. Comput"
    details: "vol. 17, no. 3, pp. 733-745, Mar. 2018, doi: 10.1109/TMC.2017.2734660"
    link: "https://ieeexplore.ieee.org/document/7999235"
    filters:
     - 2018
     - international
  - title: "Theory and experiment for wireless-powered sensor networks: how to keep sensors alive"
    author: "K. W. Choi, P. A. Rosyady, L. Ginting, A. A. Aziz, D. Setiawan, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 17, no. 1, pp. 430-444, Jan. 2018, doi: 10.1109/TWC.2017.2767579"
    link: "https://ieeexplore.ieee.org/document/8094989"
    filters:
     - 2018
     - international
  - title: "Optimal load balancing scheduler for MPTCP-based bandwidth aggregation in heterogeneous wireless environments"
    author: "K. W. Choi, Y. S. Cho, Aneta, J. W. Lee, S. M. Choi, J. H. Choi"
    journal: "Computer Communications"
    details: "vol. 112. no. 1, pp. 116-130, Nov. 2017"
    link: "https://www.sciencedirect.com/science/article/pii/S0140366417302426"
    filters:
     - 2017
     - international
  - title: "Received power-based channel estimation for energy beamforming in multiple-Antenna RF energy transfer system"
    author: "K. W. Choi, D. I. Kim, M. Y. Chung"
    journal: "IEEE Trans. Signal Proc"
    details: "vol. 65, no. 6, pp. 1461-1476, Mar. 2017, doi: 10.1109/TSP.2016.2637320"
    link: "https://ieeexplore.ieee.org/document/7778255"
    filters:
     - 2017
     - international
  - title: "Wireless-powered sensor networks: how to realize"
    author: "K. W. Choi, L. Ginting, P. A. Rosyady, A. A. Aziz, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 16, no. 1, pp. 221-234, Jan. 2017, doi: 10.1109/TWC.2016.2621766"
    link: "https://ieeexplore.ieee.org/document/7707470"
    filters:
     - 2017
     - international
  - title: "Throughput analysis of two-way relay networks with wireless energy harvesting capabilities"
    author: "S. T. Shah, K. W. Choi, S. F. Hasan, M. Y. Chung"
    journal: "Ad Hoc Networks"
    details: "vol. 53, no. 15, pp. 123-131, Dec. 2016"
    link: "https://www.sciencedirect.com/science/article/pii/S1570870516302396"
    filters:
     - 2016
     - international
  - title: "Energy harvesting and information processing in two-way multiplicative relay networks"
    author: "S. T. Shah, K. W. Choi, S. F. Hasan, M. Y. Chung"
    journal: "IET Electronics Letters"
    details: "vol. 52, no. 9, pp. 751-753, Apr. 2016"
    link: "https://ietresearch.onlinelibrary.wiley.com/doi/full/10.1049/el.2015.3682"
    filters:
     - 2016
     - international
  - title: "Stochastic optimal control for wireless powered communication networks"
    author: "K. W. Choi, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 15, no. 1, pp. 686-698, Jan. 2016, doi: 10.1109/TWC.2015.2477351"
    link: "https://ieeexplore.ieee.org/document/7247755"
    filters:
     - 2016
     - international
  - title: "Discovering mobile applications in cellular device-to-device communications: hash function and Bloom filter-based approach"
    author: "K. W. Choi, D. Tribudi, E. Hossain"
    journal: "IEEE Trans. Mobile Comput"
    details: "vol. 15, no. 2, pp. 336-349, Feb. 2016, doi: 10.1109/TMC.2015.2418767"
    link: "https://ieeexplore.ieee.org/document/7078949"
    filters:
     - 2016
     - international
  - title: "Distributed random access scheme for collision avoidance in cellular device-to-device communication"
    author: "E. Zihan, K. W. Choi, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 14, no. 7, pp. 3571-3585, Jul. 2015, doi: 10.1109/TWC.2015.2408326"
    link: "https://ieeexplore.ieee.org/document/7053953"
    filters:
     - 2015
     - international
  - title: "Device-to-device discovery for proximity-based service in LTE-Advanced system"
    author: "K. W. Choi, Z. Han"
    journal: "IEEE Journal of Selected Areas in Communications (D2D Communications)"
    details: "vol. 33, no. 1, pp. 55-66, Jan. 2015, doi: 10.1109/JSAC.2014.2369591"
    link: "https://ieeexplore.ieee.org/document/6953027"
    filters:
     - 2015
     - international
  - title: "Hybrid random access and data transmission protocol for machine-to-machine communications in cellular networks"
    author: "D. Tribudi, K. W. Choi"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 14, no. 1, pp. 33-46, Jan. 2015, doi: 10.1109/TWC.2014.2328491"
    link: "https://ieeexplore.ieee.org/document/6824261"
    filters:
     - 2015
     - international
  - title: "Distributed and Centralized Hybrid CSMA/CA-TDMA Schemes for Single-Hop Wireless Networks"
    author: "B. Shresta, E. Hossain, K. W. Choi, S. Camorlinga"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 13, no. 7, pp. 4050-4065, Jul. 2014, doi: 10.1109/TWC.2014.2327102"
    link: "https://ieeexplore.ieee.org/document/6823159"
    filters:
     - 2014
     - international
  - title: "Two-stage semi-distributed resource management for device-to-device communication in cellular networks"
    author: "D. H. Lee, K. W. Choi, W. S. Jeon, D. G. Jeong"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 13, no. 4, pp. 1908-1920, Apr. 2014, doi: 10.1109/TWC.2014.022014.130480"
    link: "https://ieeexplore.ieee.org/document/6747286"
    filters:
     - 2014
     - international
  - title: "Optimal subcarrier and power allocation in OFDMA mesh networks"
    author: "K. W. Choi, D. G. Jeong, W. S. Jeon"
    journal: "Ad hoc and Sensor Wireless Networks"
    details: "vol. 22, no. 3-4, pp. 281-308, Sept. 2014"
    link: "https://www.researchgate.net/publication/286320791_Optimal_Subcarrier_and_Power_Allocation_in_OFDMA_Mesh_Networks"
    filters:
     - 2014
     - international
  - title: "Variable length signal detection framework for cognitive radio systems"
    author: "K. W. Choi, W. S. Jeon, D. G. Jeong"
    journal: "International Journal of Communication Systems"
    details: "vol. 27, no. 3, Mar. 2014"
    link: "https://www.researchgate.net/publication/260556419_Variable_length_signal_detection_framework_for_cognitive_radio_systems"
    filters:
     - 2014
     - international
  - title: "Machine learning techniques for cooperative spectrum sensing in cognitive radio networks"
    author: "K. M. Thilina, K. W. Choi, N. Saquib, E. Hossain"
    journal: "IEEE Journal of Selected Areas in Communications (Cognitive Radio Series)"
    details: "vol. 31, no. 11, Nov. 2013, doi: 10.1109/JSAC.2013.131120"
    link: "https://ieeexplore.ieee.org/document/6635250"
    filters:
     - 2013
     - international
  - title: "A dynamic time slot allocation scheme for hybrid CSMA/TDMA MAC protocol"
    author: "B. Shresta, K. W. Choi, E. Hossain"
    journal: "IEEE Wireless Commun. Lett"
    details: "vol. 2, no. 5, Oct. 2013, doi: 10.1109/WCL.2013.070113.130185"
    link: "https://ieeexplore.ieee.org/document/6560073"
    filters:
     - 2013
     - international
  - title: "Adaptive transmission policy over Rayleigh fading channels for cooperative networks with limited feedback"
    author: "D. H. Lee, W. S. Jeon, K. W. Choi, D. G. Jeong"
    journal: "IET Communications"
    details: "vol. 7, no. 17, Nov. 2013"
    link: "https://doi.org/10.1049/iet-com.2013.0010"
    filters:
     - 2013
     - international
  - title: "Functional duality between distributed source coding with one distortion criterion and semi-deterministic broadcast channel coding in the case of correlated messages"
    author: "S. Choi, J. H. Yun, K. W. Choi"
    journal: "IEEE Commun. Lett"
    details: "vol. 17, no. 6, pp. 1236-1239, June 2013, doi: 10.1109/LCOMM.2013.050313.130397"
    link: "https://ieeexplore.ieee.org/document/6515484"
    filters:
     - 2013
     - international
  - title: "Adaptive and distributed access to spectrum holes in cognitive radio system"
    author: "K. W. Choi, W. S. Jeon, D. G. Jeong"
    journal: "Wireless Personal Communications"
    details: "vol. 70, no. 1, pp. 207-226, May 2013"
    link: "https://link.springer.com/article/10.1007/s11277-012-0689-0"
    filters:
     - 2013
     - international
  - title: "On the Joint Distribution of Aggregate Interference at Multiple Wireless Receivers"
    author: "K. W. Choi, S. Choi, J. H. Yun"
    journal: "IEEE Trans. Veh. Technol"
    details: "vol. 62, no.3, pp. 1355-1362, Mar. 2013, doi: 10.1109/TVT.2012.2232322"
    link: "https://ieeexplore.ieee.org/document/6376266"
    filters:
     - 2013
     - international
  - title: "Estimation of primary user parameters in cognitive radio systems via hidden Markov model"
    author: "K. W. Choi, E. Hossain"
    journal: "IEEE Trans. Signal Proc"
    details: "vol. 61, no. 3, pp. 782-795, Feb. 2013, doi: 10.1109/TSP.2012.2229998"
    link: "https://ieeexplore.ieee.org/document/6362264"
    filters:
     - 2013
     - international
  - title: "Maximum likelihood detection of random primary networks for cognitive radio systems"
    author: "S. Lee, K. W. Choi, S.-L. Kim"
    journal: "IEICE Trans. on Commun"
    details: "vol. E95-B, no. 10, pp. 3365 – 3369, Oct. 2012"
    link: "https://search.ieice.org/bin/summary.php?id=e95-b_10_3365"
    filters:
     - 2012
     - international
  - title: "Outage probability analysis of macro-diversity combining in Poisson field of access points"
    author: "K. W. Choi, D. I. Kim"
    journal: "IEEE Commun. Lett"
    details: "vol. 16 , no. 8, pp. 1208 – 1211, Aug. 2012, doi: 10.1109/LCOMM.2012.052112.120495"
    link: "https://ieeexplore.ieee.org/document/6208778"
    filters:
     - 2012
     - international
  - title: "Opportunistic access to spectrum holes between packet bursts: a learning-based approach"
    author: "K. W. Choi, E. Hossain"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 10, no. 8, pp. 2497 – 2509, Aug. 2011, doi: 10.1109/TWC.2011.060711.100154"
    link: "https://ieeexplore.ieee.org/document/5898370"
    filters:
     - 2011
     - international
  - title: "Downlink subchannel and power allocation in multi-cell OFDMA cognitive radio networks"
    author: "K. W. Choi, E. Hossain, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 10, no. 7, pp. 2259 – 2271, July 2011, doi: 10.1109/TWC.2011.051311.101191"
    link: "https://ieeexplore.ieee.org/document/5773453"
    filters:
     - 2011
     - international
  - title: "Cooperative spectrum sensing under random geometric primary user network model"
    author: "K. W. Choi, E. Hossain, D. I. Kim"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 10, no. 6, pp. 1932 – 1944, June 2011, doi: 10.1109/TWC.2011.040411.101430"
    link: "https://ieeexplore.ieee.org/document/5751185"
    filters:
     - 2011
     - international
  - title: "Efficient load-aware routing scheme for wireless mesh networks"
    author: "K. W. Choi, W. S. Jeon, D. G. Jeong"
    journal: "IEEE Trans. Mobile Comput"
    details: "vol. 9, no. 9, pp. 1293 – 1307, Sept. 2010, doi: 10.1109/TMC.2010.85"
    link: "https://ieeexplore.ieee.org/document/5467081"
    filters:
     - 2010
     - international
  - title: "Adaptive sensing technique to maximize spectrum utilization in cognitive radio"
    author: "K. W. Choi"
    journal: "IEEE Trans. Veh. Technol"
    details: "vol. 59, no. 2, pp. 992 – 998, Feb. 2010, doi: 10.1109/TVT.2009.2036631"
    link: "https://ieeexplore.ieee.org/document/5332343"
    filters:
     - 2010
     - international
  - title: "Sequential detection of cyclostationary signal for cognitive radio systems"
    author: "K. W. Choi, W. S. Jeon, and D. G. Jeong"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 8, no. 9, pp. 4480 – 4485, Sept. 2009, doi: 10.1109/TWC.2009.090288"
    link: "https://ieeexplore.ieee.org/document/5285169"
    filters:
     - 2009
     - international
  - title: "Resource allocation in OFDMA wireless communications systems supporting multimedia services"
    author: "K. W. Choi, W. S. Jeon, and D. G. Jeong"
    journal: "IEEE/ACM Trans. Netw"
    details: "vol. 17, no. 3, pp. 926 – 935, June 2009, doi: 10.1109/TNET.2008.2001470"
    link: "https://ieeexplore.ieee.org/document/4623156"
    filters:
     - 2009
     - international
  - title: "Packet scheduler for mobile communications systems with time-varying capacity region"
    author: "K. W. Choi, D. G. Jeong, W. S. Jeon"
    journal: "IEEE Trans. Wireless Commun"
    details: "vol. 6, no. 3, pp. 1034 – 1045, Mar. 2007, doi: 10.1109/TWC.2007.05450"
    link: "https://ieeexplore.ieee.org/document/4133890"
    filters:
     - 2007
     - international


domestic:
  - title: "Cell-Free MIMO 구조에 적합한 분산 CPU-Less Functional Split 구조와 분산 프리코딩 방법"
    author: "윤현식, 최계원"
    journal: "한국통신학회논문지"
    details: "46(12), 2123-2133"
    filters:
     - 2021
     - domestic
  - title: "강화학습을 이용한 주파수 공유 알고리즘 연구"
    author: "김지수, 김건우, 박종인, 최계원"
    journal: "한국통신학회논문지"
    details: "46(3), 450-458"
    filters:
     - 2021
     - domestic
  - title: "SDR 기반 Cell-Free MIMO 테스트베드 개발"
    author: "하명찬, 최주영, 이미현, 최계원"
    journal: "한국통신학회논문지"
    details: "46(8), 1355-1366"
    filters:
     - 2021
     - domestic
  - title: "Artificial Intelligence Metasurface Communications for Massive Connectivity"
    author: "Hardi, Jonathan, Kae Won Choi"
    journal: "한국통신학회논문지"
    details: "46.1 (2021): 18-31"
    filters:
     - 2021
     - domestic
  - title: "SDR 기반 Cell-Free MIMO 테스트베드 개발"
    author: "하명찬, 최주영, 이미현, 최계원"
    journal: "한국통신학회논문지"
    details: "46.8 (2021): 1355-1366"
    filters:
     - 2021
     - domestic
  - title: "다중 수신안테나로 구성된 RF 무선 전력 카메라 시스템 구현"
    author: "연규양, 황사일, 최계원"
    journal: "한국통신학회논문지"
    details: "45(6), 1090-1102"
    link: "https://doi.org/10.7840/kics.2020.45.6.1090"
    filters:
     - 2020
     - domestic
  - title: "빔포밍에 기반한 RF 무선 전력 카메라 시스템"
    author: "G. Y. Yeon, S. I. Hwang, K. W. Choi"
    journal: "Journal of KICS"
    details: "(게재예정), Jun. 2020"   
    filters:
     - 2020
     - domestic
  - title: "DCO-OFDM 기반의 가시광 통신 테스트베드 구현"
    author: "D. S. Kang, S. Lee, J. S. Kim, K. W. Choi"
    journal: "Journal of KICS"
    details: "vol. 45, no. 1, pp. 117 – 128, Jan. 2020"   
    filters:
     - 2020
     - domestic
  - title: "DC 바이어스 OFDM 기반 동시 무선 정보 및 전력 전송 설계 및 실험"
    author: "S. I. Hwang, K. W. Choi"
    journal: "Journal of KICS"
    details: "vol. 45, no. 1, pp. 231 – 238, Jan. 2020"   
    filters:
     - 2020
     - domestic
  - title: "초고밀도 네트워크를 위한 SDR 테스트베드 개발"
    author: "D. S. Kang, K. W. Choi"
    journal: "Journal of KICS"
    details: "vol. 44, no.6, pp. 1181-1187, Jun. 2019"   
    filters:
     - 2019
     - domestic
---
<div class="wrapper light-wrapper">
    <div class="container inner">
        <div class="grid grid-view boxed">
            <div class="isotope-filter text-center">
                <ul>
                    <li><a class="button active" data-filter="*">All</a></li>
                    {% for category in page.categories %}
                    <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">International</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.international %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="space60"></div>
            <h1 class="display-2 text-center">Domestic</h1>
            <div class="space40"></div>
            <div class="tiles">
                <div class="row isotope light-gallery-wrapper">
                    {% for item in page.domestic %}
                    <div class="item grid-sizer col-md-6 col-lg-12 {% for filter in item.filters %} {{filter}} {% endfor %}">
                        <div class="box bg-white shadow">
                            <div class="flex-row">
                                {% for filter in item.filters %}
                                <div class="badge badge-pill {% if filter == 'international' %}bg-aqua{% elsif filter=='domestic'%}bg-hibiscus{% else %}bg-meander{% endif %} mr-2">
                                    {{filter}}
                                </div>
                                {% endfor %}
                            </div>
                            <div class="space20"></div>
                            <div class="display-4" style="font-weight:bold;">{{item.title}}</div>
                            <div class="space10"></div>
                            <div>{{item.author}}</div>
                            <div><em>{{item.journal}}</em>, {{item.details}}</div>
                            {% if item.link %}
                            <div class="space10"></div>
                            <a href="{{item.link}}" target="_blank" class="color-red"><i class="icofont-external-link"></i> Link</a>
                            {% endif %}
                            <div class="space20"></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
