---
layout: page
title: "People"
black_menu: true
header_style: 'one'
custom_font: font4
portfolios_area:
  enable: true
  categories:
   - title: "Phd"
     filter: "phd"

   - title: "Master"
     filter: "master"

   - title: "Undergraduate"
     filter: "undergraduate"

   - title: "Alumni"
     filter: "alumni"
  
  portfolios:
   - title: "Minh Tran Nguyen"
     research: "Energy Harvesting, WPT, Antenna Design, Microwave Circuit, Metasurface"
     image: "/assets/images/art/profile/profile_phd_nmtran.jpg"
     email: "minhtran.uet@gmail.com"
     filters:
      - phd
   - title: "Lorenz Rullyna Ginting"
     research: "RF Energy Transfer, Beamforming"
     image: "/assets/images/art/profile/profile_phd_lorenz.jpg"
     email: "lorenzgins@gmail.com"
     filters:
      - phd
   - title: "박제현(Je Hyeon Park)"
     research: "RF wireless power transfer, Metasurface"
     image: "/assets/images/art/profile/profile_phd_parkjaehyun.jpg"
     email: "pjw8251@skku.edu"
     filters:
      - phd
   - title: "Muhammad Miftahul Amri"
     research: "Metasurface, Circuit design"
     image: "/assets/images/art/profile/profile_phd_amri.jpg"
     email: "Muhammadma97@gmail.com"
     filters:
      - phd
   - title: "Denny Permana"
     research: "Bio Signal Acquisition and Processing"
     image: "/assets/images/art/profile/profile_phd_denny.jpg"
     email: "denypermana@g.skku.edu"
     filters:
      - phd
   - title: "박종인(Jong In Park)"
     research: "AI Communications"
     image: "/assets/images/art/profile/profile_master_parkjongin.jpg"
     email: "pj5807@naver.com"     
     filters:
      - master
   - title: "이상원(Sang Won Lee)"
     research: "Radar Signal processing"
     image: "/assets/images/art/profile/profile_master_leesangwon.jpg"
     email: "kl0081kl@g.skku.edu"     
     filters:
      - master
   - title: "천세원(Sae Won Cheon)"
     research: "Bio Signal Acquisition and Processing"
     image: "/assets/images/art/profile/profile_master_cheonsaewon.jpg"
     email: "csw980303@skku.edu"     
     filters:
      - master
   - title: "이유진(YuJin Lee)"
     research: "Computer Vision"
     image: "/assets/images/art/profile/profile_master_leeyujin.jpg"
     email: "leeyoujin225@gmail.com"     
     filters:
      - master
   - title: "이미현(Mi Hyun Lee)"
     research: "FPGA"
     image: "/assets/images/art/profile/profile_master_leemihyun.jpg"
     email: "curinglee@gmail.com"     
     filters:
      - master
   - title: "윤채원(Chaewon Yun)"
     research: "Hybrid Beamforming"
     image: "/assets/images/art/profile/profile_master_yunchaewon.jpg"
     email: "ycw0001@naver.com"     
     filters:
      - master
   - title: "이경인(Kyung In Lee)"
     research: "Wireless Communications"
     image: "/assets/images/art/profile/profile_master_leekyungin.jpg"
     email: "kungin1234@naver.com"     
     filters:
      - master
   - title: "권세이(Se I Kwon)"
     research: "Computer Vision"
     image: "/assets/images/art/profile/profile_master_kwonsei.jpg"
     email: "say0423@g.skku.edu"     
     filters:
      - master
   - title: "김광호(Kwang Ho Kim)"
     research: "Metasurface, RF Testing"
     image: "/assets/images/art/profile/profile_master_kimkwangho.jpg"
     email: "modecs@g.skku.edu"     
     filters:
      - master
   - title: "채준병(Jun Byung Chae)"
     research: "AI Communications"
     image: "/assets/images/art/profile/profile_master_chaejunbyung.jpg"
     email: "wnsqudco@naver.com"     
     filters:
      - master
   - title: "Ghafar Ramadhan Faqih"
     research: "Bio Signal Acquisition and Processing"
     image: "/assets/images/art/profile/profile_master_ghafar.jpg"
     email: "ghafaramadhan@gmail.com"     
     filters:
      - master
   - title: "박지용(Ji Yong Park)"
     research: "Radar Signal processing"
     image: "/assets/images/art/profile/profile_undergraduate_parkjiyong.jpg"
     email: "qkr1020@skku.edu"     
     filters:
      - undergraduate
   - title: "윤준희(Jun Hui Yoon)"
     research: "Wireless Communication"
     image: "/assets/images/art/profile/profile_undergraduate_yoonjunhui.jpg"
     email: "yjh990209@g.skku.edu"     
     filters:
      - undergraduate
   - title: "김근호(Geun Ho Kim)"
     research: "Wireless Communication"
     image: "/assets/images/art/profile/profile_undergraduate_kimkeunho.jpg"
     email: "kgh30312@g.skku.edu"     
     filters:
      - undergraduate
   - title: "박수영(Su Young Park)"
     research: "Wireless Communication"
     image: "/assets/images/art/profile/profile_undergraduate_parksuyoung.jpg"
     email: "suyoung6918@gmail.com"     
     filters:
      - undergraduate
   - title: "장혁(Hyeok Jang)"
     research: "Wireless Communication"
     image: "/assets/images/art/profile/profile_undergraduate_janghyeok.jpg"
     email: "hjanghyeok@naver.com"     
     filters:
      - undergraduate
   - title: "조준희(Jun Hee Jo)"
     research: "Bio Signal Acquisition and Processing"
     image: "/assets/images/art/profile/profile_undergraduate_jojunhee.jpg"
     email: "jhcho9811@naver.com"     
     filters:
      - undergraduate
   - title: "장용규(Yong kyu Jang)"
     research: "Wireless Communication"
     image: "/assets/images/art/profile/profile_alumni_jangyongkyu.jpg"
     email: "fedor303@g.skku.edu"
     education: "Undergraduate"
     filters:
      - alumni
   - title: "진필웅(Pilwoong Jin)"
     research: "AI Communications"
     image: "/assets/images/art/profile/profile_alumni_jinpilwoong.jpg"
     email: "pilwoong906@g.skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "손하영(Ha Young Son)"
     research: "Computer Vision"
     image: "/assets/images/art/profile/profile_alumni_sonhayoung.jpg"
     email: "shyds628@g.skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "김건우(Gon Woo Kim)"
     research: "AI Communications"
     image: "/assets/images/art/profile/profile_alumni_kimgonwoo.jpg"
     email: "rjsdn4444@skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "최주영(Ju Young Choi)"
     research: "RF Circuit Design"
     image: "/assets/images/art/profile/profile_alumni_choijuyoung.jpg"
     email: "chlwndud96@g.skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "강영훈 (Young Hoon Kang)"
     research: "OFDM"
     image: "/assets/images/art/profile/profile_alumni_kangyounghoon.jpg"
     email: "dudgns113@skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "박진원(Park Jin Won)"
     research: "Bio Siganl Processing"
     image: "/assets/images/art/profile/profile_alumni_parkjinwon.jpg"
     email: "qkrwlsdnjs007@hanmail.net"
     education: "Master"
     filters:
      - alumni
   - title: "Arif Abdul Aziz"
     research: "RF Energy Transfer, RF Circuit Design"
     image: "/assets/images/art/profile/profile_alumni_arifabdulaziz.jpg"
     email: "arif.abdul.aziz92@gmail.com"
     education: "Ph.D"
     filters:
      - alumni
   - title: "윤현식(Hyun Sik Yun)"
     research: "5G mobile Communications"
     image: "/assets/images/art/profile/profile_alumni_yunhyunsik.jpg"
     email: "a42000@skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "하명찬(Myung Chan Ha)"
     research: "MU-MIMO"
     image: "/assets/images/art/profile/profile_alumni_hamyungchan.jpg"
     email: "clark1324@g.skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "김지수(Ji Su Kim)"
     research: "Machine Learning"
     image: "/assets/images/art/profile/profile_alumni_kimjisu.jpg"
     email: "kimjokero@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Hardi Jonathan"
     research: "Machine Learning"
     image: "/assets/images/art/profile/profile_alumni_hardjonathan.jpg"
     email: "jonathansen9@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "연규양(Gyu Yang Yeon)"
     research: "Wireless Power Transfer"
     image: "/assets/images/art/profile/profile_alumni_yeongyuyang.jpg"
     email: "rbdid369@skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "황사일(Sa Il Hwang)"
     research: "Wireless Power Transfer"
     image: "/assets/images/art/profile/profile_alumni_hwangsail.jpg"
     email: "fortyone0903@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "강동수(Dong Su Kang)"
     research: "MU-MIMO"
     image: "/assets/images/art/profile/profile_alumni_kangdongsu.jpg"
     email: "ds.kang.damon@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "조동근(Dong Geun Jo)"
     research: "5G Mobile Communications"
     image: "/assets/images/art/profile/profile_alumni_jodonggeun.jpg"
     email: "donggeun07@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "이송(SONG LEE)"
     research: "VLC(Visible Light Communication)"
     image: "/assets/images/art/profile/profile_alumni_leesong.jpg"
     email: "ls9702@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Dedi Setiawan"
     research: "RF Energy Harvesting, Wireless Power Transfer, Wireless Sensor Network"
     image: "/assets/images/art/profile/profile_alumni_dedisetiawan.jpg"
     email: "morethanubabe@gmail.com"
     education: "Ph.D"
     filters:
      - alumni
   - title: "우지웅(Woo Jiung)"
     research: "Wireless Communications"
     image: "/assets/images/art/profile/profile_alumni_woojiung.jpg"
     email: "hizen3839@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Fery Andrian Kusuma"
     research: "Core Network Simulation, Computational RFID"
     image: "/assets/images/art/profile/profile_alumni_feryandriankusuma.jpg"
     email: "fery@skku.edu"
     education: "Master"
     filters:
      - alumni
   - title: "Faris Muhammad Syariati"
     research: "Sensor Network, Indoor Positioning, Bandwidth Aggregation"
     image: "/assets/images/art/profile/profile_alumni_farismuhammadsyariati.jpg"
     email: "syariati.faris@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Yogi Salomo M Pratama"
     research: "VLC(Visible Light Communication)"
     image: "/assets/images/art/profile/profile_alumni_yogisalomoMpratama.jpg"
     email: "yogi.salomo@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Phisca Aditya Rosyady"
     research: "MIMO Beamforming for Energy Harvesting Wireless Communications"
     image: "/assets/images/art/profile/profile_alumni_phiscaadityarosyady.jpg"
     email: "adityaphisca@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Jazilul Athoya"
     research: "Wireless Localization, Core Network"
     image: "/assets/images/art/profile/profile_alumni_jazilulathoya.jpg"
     email: "athoyaa@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Aneta"
     research: "MPTCP(MultiPath TCP)"
     image: "/assets/images/art/profile/profile_alumni_aneta.jpg"
     email: "dragon21century@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Ewaldo Zihan"
     research: "D2D Communication"
     image: "/assets/images/art/profile/profile_alumni_ewaldozihan.jpg"
     email: "zewaldo88@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Moonbak Jung"
     research: "Sensor Fusion-Based Indoor Positioning System"
     image: "/assets/images/art/profile/profile_alumni_jungmoonbak.jpg"
     email: "oneshot820@google.com"
     education: "Master"
     filters:
      - alumni
   - title: "Dimas Tribudi Wiriaatmadja"
     research: "Cellular Machine to Machine Telecommunication, Wireless Power Transfer"
     image: "/assets/images/art/profile/profile_alumni_dimastribudiwiriaatmadja.jpg"
     email: "dimastribudi@gmail.com"
     education: "Master"
     filters:
      - alumni
   - title: "Salahe Amean"
     research: "Wireless Power Transfer"     
     email: "salaheamean@gmail.com"
     education: "Master"
     filters:
      - alumni
---
<h1 class="text-center">Professor</h1>
<h1 class="text-center mt-40">Member</h1>
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-3 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30" style="height:34rem">
              <figure class="main rounded mb-30">
                <img src="{{portfolio.image}}" style="height:16rem;" alt="{{portfolio.title}}"/>
              </figure>
              <div class="post-content">
                <div class="category text-center">
                  <div class="flex-row">
                      {% for filter in portfolio.filters %}
                      <div class="badge badge-pill {% if filter == 'phd' %}bg-red{% elsif filter=='master'%}bg-orange{% elsif filter=='undergraduate' %}bg-yellow{% else %}bg-meander{% endif %} mr-2">
                          {{filter}}
                      </div>
                      {% endfor %}
                  </div>
              </div>
                <h2 class="post-title mb-10">{{portfolio.title}}</h2>
                <div class="mb-2">{{portfolio.research}}</div>
                <div class="mb-0"><i class="jam jam-envelope-f mr-2"></i>{{portfolio.email}}</div>
                {% if portfolio.education %}
                <div class="mb-0"><b>Education : </b>{{portfolio.education}}</div>
                {% endif %}
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
  </div>
</div>
