---
layout: page
title: "People"
black_menu: true
header_style: 'one'
header_image: "/assets/images/art/bg/skku/skku2-2.jpg"
custom_font: font4
row_num: 1
# 1 | 2
image_boundary: "rounded"
# blob | rounded

---
{% if page.row_num == 1 %}
{% assign image_ratio_num = 4 %}
{% else %}
{% assign image_ratio_num = 3 %}
{% endif %}

{% assign wrapper_switch = true %}
{% assign left = true %}

{% for category in site.data.people.members_info.categories %}
<section id="{{category.title}}">
<div class="wrapper {% if wrapper_switch %}light-wrapper{% else %}wrapper bg-opacity-default{% endif %}">
    <div class="container inner">
        <h1 class="text-center mt-40" data-aos="fade-up" style="font-size:2.4rem">{{category.title}}</h1>
        <div class="space40"></div>
        <div class="row mt-60">
            {% for member in category.members %}
            <div class="space20"></div>
            <div class="{% if page.row_num == 1 %}col-md-12{% else %}col-md-6{% endif %} mb-40">
                <div class="row" >
                    <div class="col-md-2 col-sm-12 {% if left==false %}order-md-2{% endif %}" {% if left==false %}style="text-align:end;"{% endif %} data-aos="fade-up" data-aos-delay="200">
                        <figure class="mb-10 {% if page.image_boundary == 'blob' %}img-blob blob1{% else %}rounded{% endif %}">
                            <img src="{{member.image}}" style="width:{{image_ratio_num | times: 2}}rem; height:{{image_ratio_num | times: 3}}rem; object-fit:cover;" alt=""/>
                        </figure>
                    </div>
                    <div class="col-md-8 col-sm-12 {% if left==false %}order-md-1{% endif %}" {% if left==false %}style="text-align:end;"{% endif %} data-aos="fade-up" data-aos-delay="400">
                        <h4 class="mb-15 mt-10" style="font-size: 1.4rem">{{member.name}}</h4>
                        {% if member.education %}
                        <div class="mb-2" style="font-size: 1rem"><b>Education : </b>
                            <div class="badge badge-pill {% if member.education == 'Ph.D' %}bg-red{% elsif member.education=='Master'%}bg-orange{% elsif member.education=='Undergraduate' %}bg-yellow{% endif %} mr-2">
                            {{member.education}}
                            </div>
                        </div>
                        {% endif %}
                        <div class="mb-2 mt-2" style="font-size: 1rem">{{member.research}}</div>
                        <div class="mb-0" style="font-size: 1rem"><i class="jam jam-envelope-f mr-2"></i>{{member.email}}</div>
                    </div>

                {% if left == true and page.row_num == 1 %}
                {% assign left = false %}
                {% else %}
                {% assign left = true %}
                {% endif %}

                
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% if wrapper_switch == true %}
{% assign wrapper_switch = false %}
{% else %}
{% assign wrapper_switch = true %}
{% endif %}
</section>
{% endfor %}