<div>
    <ul class="small-block-grid-1 medium-block-grid-2 b30" data-clearing>
        {% for item in page.profile %}
        <li>
            <img
            src="{{ site.profileimg }}{{ item.image_url }}" alt="{{ item.name }}" width="60%">
            <div>
                <b>Name:</b> {{item.name}}</div>
            <div>
                <b>Research:</b> {{item.research}}</div>
            <div>
                <b>Contact:</b> {{item.email}}</div>
            {% if item.education %}
            <div>
                <b>Education:</b> {{item.education}}</div>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>